/* Imports */
@use '../abstracts/global' as *;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(45deg, $primary-color, #373b44);
  height: 100vh;
}

a,
li,
button {
  text-decoration: none;
  color: #edf0f1;
}
